
@tailwind base;
@tailwind components;
@tailwind utilities;


/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
    appearance: none;
}

.gelatine {
    animation: gelatine 0.5s infinite;
}
@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    outline: none;
}

input[type="number"] {
    text-align: center;
    width: 4em;
    height: 2em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"]::-webkit-inner-spin-button:after {
    content: " +";
    font-weight: bold;
}

input[type="number"]::-webkit-outer-spin-button:after {
    content: " -";
    font-weight: bold;
}

